extends layout

block content
    div.container



        //- Painel home
        //- main.app    

        

        //- Login 
        main.login
            form.auth#login-form
                .form-group
                    input.form-control(type="text", name="user", placeholder="Nome de usuário")
                    input.form-control(type="password", name="pass", placeholder="Combinação")
                    a.btn.btn-primary.submit-login Entrar




        //- Registro
        //- main.registro